.cont{
  padding: 0 2em 0 2em;
}

.formunit {
  width: auto;
  padding: .1em;
  color: #000;
}

.elicon {
  display: inline-block !important;
  width: 10% !important;
}

.elinput {
  display: inline-block !important;
  width: 90% !important;
}

.button{
  padding: 0px 20px 0px 20px;
  margin-top: 1em;
  width: 100%;
}
