.centered{
  margin: 0 auto;
}

.spaceup{
  margin-top: 25%;
}

.slider_outer{
   height:100% !important;

  overflow:hidden;
}
.slider{

    width: 100%;
    height: 100%;

}
.slide_image{
  width: 100%;
    height: 100%;
   display:block;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}
.slide_item{
  float:left;
    padding: 0;
    margin: 0;
}
.clear{
  clear:both;
}

.inline {
  display: inline;
}

.desc {
  font-family: "Hind", sans-serif;
}
